@media screen and (max-width: 768px){
    .container{
        width: 100%;
        max-width: 728px;
        overflow: hidden;
    }
}

@media  screen and (max-width: 480px) {
    .lessons .col{
        width: 100%;
    }
    .row{
        flex-wrap: wrap;
    }
    .steps .col{
        width: 100%;
    }
    body{
        background-color: black;
    }
    .why-us .col-left{
        width: 100%;
    }
    .why-us .col-right{
        width: 100%;
    }
}

